.heading {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #faba4e;
    padding: 0.5em 0em 0.5em 0em;
    font-weight: 600;
    font-size: xx-large;
}

.specials {
    display: flex;
    justify-content: space-around;
}

.information {
    font-weight: bold;
}
